body {
    text-align: center;
    background-color: #F0F7F1;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

header {
    background-color: #EE316B;
    color:aliceblue;
    margin-bottom: 25px;
    position: sticky;
    top: 0;
}

main {
    margin: 80px;
    margin-top: 50px;
}

h1, h2, h3 {
    margin: 10px;
}

table {
    margin: auto;
}

td {
    padding: 10px;
}

a.white {
    color:aliceblue;
}

a:hover {
    text-decoration: none;
}

li {
    position: relative;
    display: inline-block;
    background-color: #842D72;
    border-radius: 10%;
    font-size: 28px;
    top: 12px;
    width: 150px;
}

li:hover {
    background-color: #4b0b3e;
}

img {
    border-radius: 10px;
}

/* Classes */

.title {
    padding-top: 5px;
    margin:0px;
}

.nav {
    color: aliceblue;
    text-decoration: none;
    user-select: none;
}

table.colored {
    background-color: #EE316B;
    border-radius: 10px;
}

td.colored {
    color: aliceblue;
}

.tdmultitext {
    width: 20%;
}

/* Debug /*
* {
    border: 1px solid green;
  }